<div class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Education Page
                </h3>
                <div class="card-body">
                    <div class="alert alert-dismissible alert-info">
                        <b>*Please Note:</b> Bolded terms will have provided definitons in the glossary section at the bottom of the page.  
                    </div>
                    <div class="alert alert-dismissible alert-danger">
                        <b>**</b>There is no financial advice given in this document as we are not financial advisors 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="stocksPage" class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Stocks Page
                </h3>
                <div class="card-body">
                    <ul class="card-text">
                        <li>Purpose
                            <ul>
                                <li>
                                   This page allows users to view a stock ticker and all its relevant company data
                                </li>
                                <li>
                                    As a part of an all-in-one stock app, there exists a need to examine a company as a whole. As a part of this examination, users need to be able to access all the public information about a company that is available to them. Because of this, this page exists to provide all the available information we have about a specified stock ticker. Please read the below instructions on how to utilize this page of Stocko. 
                                </li>
                            </ul>
                        </li>
                        <li>User Guide
                            <ul>
                                <li>
                                    After logging into the app, users may navigate to the “Stocks” page
                                </li>
                                <li>
                                    Upon reaching the page, users may search a stock’s ticker of interest by entering a ticker in the search bar and clicking search 
                                </li>
                                <li>
                                    After the response is returned from the backend, 4 main things can be seen by the user
                                    <ul>
                                        <li>
                                            The first will be the <b >“Company Name”</b> and <b >“Ticker”</b> followed by the <b >“Current Share Price”</b> of the company and the <b >“Company Description”</b>
                                        </li>
                                        <li>
                                            Under the first section, there is an interactive stock chart for our users to visually evaluate the price of the company over time. 
                                            This can be used to view data for up to 20+ years*, which the user is able to narrow down into any timeframe they choose
                                            <ul>
                                                <li>
                                                    *Limited to what’s available in <b >Alphavantage</b>
                                                </li>
                                                <li>
                                                    Useful data in this section
                                                    <ul>
                                                        <li>
                                                            <b >Open, High, Low,</b> and <b >Close Price</b> over time
                                                        </li>
                                                        <li>
                                                            <b >Volume</b> over time
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    This feature allows our users to visually understand price data as well as get involved with chart trading* if the choose to do so
                                                    <ul>
                                                        <li>
                                                            *There will be no educational trading via charts on our website 
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            After the chart, there is a section of <b >Company Overview</b> data* 
                                            <ul>
                                                <li>
                                                    *Note: There is a wide range of stock data in this section, and our educational focus is not on this section. Use websites like <a href="https://www.investopedia.com">Investopedia</a> if interested in learning more about any of these values specifically 
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            The last section contains buttons to display the <b >“Balance Sheet”, “Cash Flow Statement”,</b> and the <b >“Income Statement”</b>
                                            <ul>
                                                <li>
                                                    These sections are where most of the data used to calculate values on the Evaluations Page and Stock Forecaster Page can be found
                                                </li>
                                                <li>Reviewing these in full can give better explanations to certain reasons why companies are experiencing unusual loss or gains each year*
                                                    <ul><li>*There is no educational material given for reading these statements as this is not the focus of Stocko  </li></ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="positionsPage" class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Positions  Page
                </h3>
                <div class="card-body">
                    <ul class="card-text">
                        <li>Purpose
                            <ul>
                                <li>
                                    This page allows users to track and examine their <b>positions</b> in the <b>market</b>
                                </li>
                                <li>
                                    As a part of an all-in-one stock application, it was important that our users would be able to monitor and track their stock positions in our application. 
                                    This keeps users on our app and prevents them from having to access their regular investment accounts when researching <b>“value plays”</b> or in an environment where logging into regular investment accounts may not be safe or feasible 
                                </li>
                            </ul>
                        </li>
                        <li>User Guide
                            <ul>
                                <li>
                                    Our application automatically opens to the logged in user’s Positions Page, so they may see their positions immediately 
                                    <ul>
                                        <li>
                                            At Stocko, we believe that <b>“financial awareness”</b> is extremely important, thus knowledge of your current financial situation is a must. 
                                            There is no better way of obtaining and maintaining this knowledge than always being faced with the status of your <b>portfolio</b>
                                        </li>
                                        <li>
                                            On this page, users can view and manage a number of items
                                            <ul>
                                                <li>View Total Profit and Total Portfolio Growth</li>
                                                <li>View positions in the market with the following data points
                                                    <ul>
                                                        <li>
                                                            Ticker, <b>Quantity</b>, <b>Average Cost</b>, Current Price, Profit ($), Percent Gain (%)
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>Add, Edit, and Delete Positions*
                                                    <ul>
                                                        <li>
                                                            <b>*Education on the use of this can be found on the demo video</b>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="positionsPage" class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Evaluations  Page
                </h3>
                <div class="card-body">
                    <ul class="card-text">
                        <li>Purpose
                            <ul>
                                <li>
                                    This page allows users to take advantage of Stocko’s technology and quickly analyze the overall health and status of a company. 
                                    Unlike the Stock Page, the user can view 12 specifically selected metrics to evaluate a <b>company’s health</b> and gauge the trading price vs <b>intrinsic value</b> of a company 
                                </li>
                            </ul>
                        </li>
                        <li>User Guide
                            <ul>
                                <li>Upon logging into the application, users can navigate to the “Evaluations” page</li>
                                <li>Upon reaching the page, users may search a stock’s ticker of interest by entering a ticker in the search bar and clicking search </li>
                                <li>After the response is returned from the backend, 12 pillars can be seen by the user **
                                    <ul>
                                        <li>
                                            *If the stock does not have 5 years of history, an alert will display stating that Stocko does not support this history
                                        </li>
                                        <li>
                                            **For educational reasons , all terms will be defined in this section as well as in the glossary (definitions in this section may be more concise though)
                                        </li>
                                        <li>Pillar 1 – <b>PE Ratio</b>
                                            <ul>
                                                <li>What is it?<ul><li>A ratio for valuing a company that measures its current share price relative to its earnings per share</li></ul></li>
                                                <li>Why do we use it?<ul><li>It is a simple, commonly used ratio to gauge how expensive a current company is trading</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 2 – <b>Profit Margin</b>
                                            <ul>
                                                <li>What is it?<ul><li>How much net profit is generated as a percentage of the revenue made</li></ul></li>
                                                <li>Why do we use it?<ul><li>Gauges the degree in which a company or a business makes money off of the product or service they provide</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 3 – <b>Profit Growth</b>
                                            <ul>
                                                <li>What is it?<ul><li>The 5 year change in profit as a percentage</li></ul></li>
                                                <li>Why do we use it?<ul><li>Gauges if a company is growing and if it is profitable</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 4 – <b>Revenue Growth</b>
                                            <ul>
                                                <li>What is it?<ul><li>The 5 year change in revenue as a percentage</li></ul></li>
                                                <li>Why do we use it?<ul><li>A metric to gauge if the company is growing</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 5 – <b>Current Assets vs Liabilities</b>
                                            <ul>
                                                <li>What is it?<ul><li>All current (fiscal year) assets less their current liabilities  </li></ul></li>
                                                <li>Why do we use it?<ul><li>Is the company likely to go bankrupt if there is a period of financial hardship for the company or market</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 6 – <b>Total Assets vs Liabilities</b>
                                            <ul>
                                                <li>What is it?<ul><li>All of the assets of a company less their liabilities</li></ul></li>
                                                <li>Why do we use it?<ul><li>Not as important because it is okay for business to have good, long term debt to pay off, but a double plus if a company meets this pillar</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 7 – <b>Change In Shares Outstanding</b>
                                            <ul>
                                                <li>What is it?<ul><li>The change in shares outstanding over the last 5 years as a percentage</li></ul></li>
                                                <li>Why do we use it?<ul><li>Dilution is a stock killer. It is important for the company to be buying back shares, so each share you own is worth more and more of the company</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 8 – <b>Free Cash Flow Growth</b>
                                            <ul>
                                                <li>What is it?<ul><li>The change in free cash flow growth over the last 5 years as a percentage</li></ul></li>
                                                <li>Why do we use it?<ul><li>Free cash flow is the cash on-hand free of all obligations. It is used to buy back shares, pay down debt, pay dividends, and make acquisitions. Important metric for a growing and healthy business. </li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 9 – <b>Free Cash Flow Desired Share Price</b>
                                            <ul>
                                                <li>What is it?<ul><li>This is a derived expected share price from several financial math of what a company should be trading at based on their current free cash flow average over the last 5 years and an assumed PE of 20</li></ul></li>
                                                <li>Why do we use it?<ul><li>It is a quick judge </li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 10 –<b>Free Cash Flow Desired Market Cap</b>
                                            <ul>
                                                <li>What is it?<ul><li>This is a derived expected market cap from several financial math of what a company should be trading at based on their current free cash flow average over the last 5 years and an assumed PE of 20</li></ul></li>
                                                <li>Why do we use it?<ul><li>A sanity check for pillar 9, as well as give a target market cap if the user needs it </li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 11 –<b>EV/EBITDA Ratio</b> 
                                            <ul>
                                                <li>What is it?<ul><li>The enterprise value of a stock before interest, taxes, depreciation, and amortization</li></ul></li>
                                                <li>Why do we use it?<ul><li>A metric used to determine the fair market value of a company. The market average is 11 to 14 for the last several years.</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Pillar 12 –<b>Price to Book Ratio</b> 
                                            <ul>
                                                <li>What is it?<ul><li>Compares the market value of the company to its book value. This is a complicated calculation, but the importance in why we use it is below.</li></ul></li>
                                                <li>Why do we use it?<ul><li>It is another way to gauge the growth and valuation of a company</li></ul></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>How to best utilize this page?
                                    <ul>
                                        <li>Stocko is about developing a process for our users to follow, and we believe this process starts with investing in financially healthy, stable, and growing companies </li>
                                        <li>At Stocko, we recommend, using this page to evaluate a company and, as a user, decide if this is a company that is worth a closer look
                                            <ul><li>A closer look involves more research and reading about the company, which includes reviewing <b>10-K</b>’s and <b>investor relation newsletters</b> </li></ul>
                                        </li>
                                        <li>A good stock buy can have 8 red pillars or 8 green pillars or a mixture of both. It is important to note that these pillars are just a gauge at the health of a company</li>
                                        <li>But by understanding these pillars and being able to quickly access the pillars for a given, valid stock</li>
                                        <li>Be mindful that these are just 12 indicators that we at Stocko choose to portray the health of this company, there may be other important factors that you need to review before making any financial decisions 
                                            <ul><li>Additionally, this page can easily allow the user to gauge if this company is trending in the right direction or not since more metrics are measured over a period of time</li></ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="positionsPage" class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Stock Forecaster  Page
                </h3>
                <div class="card-body">
                    <ul class="card-text">
                        <li>Purpose
                            <ul>
                                <li>
                                    This page is a special page unique to Stocko, which allows users to make assumptions for a stock of their choice. This page is specially tailored to the goal of Stocko, which is to bring a <b>value investing</b>, long-term holding mind-set to our users.
                                </li>
                                <li>
                                    This tool takes user assumptions and forecasts a current price that they should pay for the company if their assumptions for the next 7 years were to be true to meet their desired <b>annual return</b> 
                                </li>
                            </ul>
                        </li>
                        <li>User Guide
                            <ul>
                                <li>Upon logging into the application, users can navigate to the “Stock Forecaster” page</li>
                                <li>Upon reaching the page, users may search a stock’s ticker of interest by entering a ticker in the search bar and clicking search </li>
                                <li>After the response is returned from the backend, a table with data and boxes to enter assumptions can be seen by the user **
                                    <ul>
                                        <li>*If the stock does not have 5 years of history, an alert will display stating that Stocko does not support this history</li>
                                        <li>**For educational reasons, all terms will be defined in this section (if not done previously) as well as in the glossary (definitions in this section may be more concise though)</li>
                                    </ul>
                                </li>
                                <li>Please view below what each assumption is for and education on how to make these assumptions 
                                    <ul>
                                        <li>Assumption 1 – <b>Revenue Growth</b>
                                            <ul>
                                                <li>Why do we use it?<ul><li>This is needed in the financial equations to derive share price from discounted free cash flow methods</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Assumption 2 – <b>Share Change</b>
                                            <ul>
                                                <li>Why do we use it?<ul><li>Change in shares outstanding can be very important when it comes to the valuation and determination of the future stock price in the calcuations. Dilution is a killer.</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Assumption 3 – <b>Profit Margin</b>
                                            <ul>
                                                <li>Why do we use it?<ul><li>This is needed in the financial equations to derive share price from discounted free cash flow methods</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Assumption 4 – <b>Free Cash Flow Margin</b>
                                            <ul>
                                                <li>Why do we use it?<ul><li>This is needed in the financial equations to derive share price from discounted free cash flow methods</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Assumption 5 – <b>PE Ratio</b>
                                            <ul>
                                                <li>Why do we use it?<ul><li>This is an assumption that allows the user determine how expensive they want to pay for this company</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Assumption 6 – <b>Price to Free Cash Flow</b>
                                            <ul>
                                                <li>What is it?<ul><li>An equity valuation metric that indicates a company’s ability to generate additional revenues</li></ul></li>
                                                <li>Why do we use it?<ul><li>Offers a secondary method of calculating a target price for a stock via financial discounted free cash flow methodologies</li></ul></li>
                                            </ul>
                                        </li>
                                        <li>Assumption 7 – <b>Desired Return</b>
                                            <ul>
                                                <li>What is it?<ul><li>How much do you want to make in returns from your investment yearly</li></ul></li>
                                                <li>Why do we use it?<ul><li>We recommend using a number 12.5% or higher since the market will typically do 7-10% there must be a reason for you to take a risk outside of a market ETF</li></ul></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>How to make assumptions
                                    <ul>
                                        <li>High and Low assumptions; safe assumptions 
                                            <ul><li>We believe in conservative and safe assumptions as extrapolating data out for 7 years can be difficult for new investors
                                                <ul><li>Reasons for this is that 7 years is a long time and the direction of the company can change (but that is why we use the last 5 years of data to make these assumptions) and it is harder for companies to grow when they get larger</li></ul>
                                            </li></ul>
                                        </li>
                                        <li>Sanity Checks
                                            <ul>
                                                <li>Growth Values
                                                    <ul><li>Most companies do not do more than $300-500 billion so if you find the current revenue of the company on the stock page and multiply it by one plus your assumption raised to the 7th power, you should be able to ask if your assumption is wildly absurd
                                                        <ul><li>Revenue * (1+assumption)^7</li></ul>
                                                    </li></ul>
                                                </li>
                                                <li>Ratio Values
                                                    <ul>
                                                        <li>As companies grow and become larger, their expectation of growth should decrease since its harder to grow, therefore we should expect large companies to have less growing potential thus paying less for future growth
                                                            <ul>
                                                                <li>
                                                                    Because of this ratios should generally be between 12-16 and for very large and established companies (like a car manufacturer) be prepared to enter a values close to 3-8 
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>What the returned prices mean
                                    <ul>
                                        <li>The returned prices are the prices that the current stock price should be at or below if you are interested in buying the stock</li>
                                        <li>Two prices are given depending on the PE Ratio or P/FCF Ratio that are given in the calculator</li>
                                    </ul>
                                </li>
                                <li>How to best use this tool
                                    <ul>
                                        <li>After using the Evaluations page and your own research on a company, use the forecast tool to make safe, conservative assumptions to see what is a calculated value that you should be paying for the company currently</li>
                                        <li>This tool is able to use the methods discussed earlier in the user guide to predict what the company could be worth in 7 years, thus giving the user a tangible number to the culmination of their new value investing process </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="stocksPage" class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Glossary
                </h3>
                <div class="card-body">
                <ul class="card-text">
                    <li>Company Name<ul><li>The official name of the company</li></ul></li>
                    <li>Ticker<ul><li>A shortened identifiable marker that a stock is identified as in the stock market</li></ul></li>
                    <li>Current Share Price<ul><li>The present dollar value that a given stock is being exchanged at</li></ul></li>
                    <li>Company Description<ul><li>The basic description of what a company is all about</li></ul></li>
                    <li>AlphaVantage<ul><li>The backend API that Stocko uses to source all stock related data</li></ul></li>
                    <li>Open Price<ul><li>The price at which a stock opens a time interval at</li></ul></li>
                    <li>High Price<ul><li>The price at which a stock is at the highest value in a time interval</li></ul></li>
                    <li>Low Price<ul><li>The price at which a stock is at the lowest value in a time interval</li></ul></li>
                    <li>Close Price<ul><li>The price at which a stock closes at in a time interval</li></ul></li>
                    <li>Chart Trading<ul><li>Trading stocks based off of graph trends and indicators via a chart alone </li></ul></li>
                    <li>Company Overview<ul><li>The sheet that AlphaVantage returns that has most basic company information contained within it</li></ul></li>
                    <li>Balance Sheet<ul><li>The financial statement of a company which includes assets, liabilities, debt, capital, etc at points in time</li></ul></li>
                    <li>Income Statement<ul><li>The financial statement of a company which includes revenues and expenses during a particular period</li></ul></li>
                    <li>Cash Flow Statement<ul><li>The financial statement of a company which includes all aggregate data regarding all cash inflows of a company</li></ul></li>
                    <li>Positions<ul><li>A current holding of a stock (for the purposes of this guide)</li></ul></li>
                    <li>Market<ul><li>The stock market or stock exchange</li></ul></li>
                    <li>Value Play<ul><li>Paying for a company listed at a value below what one believes the intrinsic value is of the company</li></ul></li>
                    <li>Financial Awareness<ul><li>The ability to understand and effectively use various financial skills</li></ul></li>
                    <li>Portfolio<ul><li>All of an investor’s positions in the market</li></ul></li>
                    <li>Quantity<ul><li>The amount of a stock purchased</li></ul></li>
                    <li>Average Cost<ul><li>The average cost of the position</li></ul></li>
                    <li>Company’s Health<ul><li>Determining if the characteristics surround the financials of a company are relatively good or bad</li></ul></li>
                    <li>Intrinsic Value<ul><li>The value of what a company is truly worth</li></ul></li>
                    <li>PE Ratio<ul><li>A ratio for valuing a company that measures its current share price relative to its earnings per share</li></ul></li>
                    <li>Profit Margin<ul><li>How much net profit is generated as a percentage of the revenue made</li></ul></li>
                    <li>Profit Growth<ul><li>The 5 year change in profit as a percentage</li></ul></li>
                    <li>Revenue Growth<ul><li>The 5 year change in revenue as a percentage</li></ul></li>
                    <li>Current Assets vs Liabilities<ul><li>All current (fiscal year) assets less their current liabilities  </li></ul></li>
                    <li>Total Assets vs Liabilities<ul><li>All of the assets of a company less their liabilities</li></ul></li>
                    <li>Change In Shares Outstanding<ul><li>The change in shares outstanding over the last 5 years as a percentage</li></ul></li>
                    <li>Free Cash Flow Growth<ul><li>The change in free cash flow growth over the last 5 years as a percentage</li></ul></li>
                    <li>Free Cash Flow Desired Share Price<ul><li>This is a derived expected share price from several financial math of what a company should be trading at based on their current free cash flow average over the last 5 years and an assumed PE of 20</li></ul></li>
                    <li>Free Cash Flow Desired Market Cap<ul><li>This is a derived expected market cap from several financial math of what a company should be trading at based on their current free cash flow average over the last 5 years and an assumed PE of 20</li></ul></li>
                    <li>EV/EBITDA Ratio<ul><li>The enterprise value of a stock before interest, taxes, depreciation, and amortization</li></ul></li>
                    <li>Price to Book Ratio<ul><li>Compares the market value of the company to its book value. This is a complicated calculation, but the importance in why we use it is below.</li></ul></li>
                    <li>10-K<ul><li>A report filed annually by a public company about their financial performance</li></ul></li>
                    <li>Investor Relation Newsletters<ul><li>A report sent by public companies to their shareholders about performance and future plans also available to the public</li></ul></li>
                    <li>Value Investing<ul><li>A process and  mindset that involves investing in stocks that appear underpriced by some form of fundamental analysis </li></ul></li>
                    <li>Annual Return<ul><li>The return of an investment over a year</li></ul></li>
                    <li>Price to Free Cash Flow<ul><li>An equity valuation metric that indicates a company’s ability to generate additional revenues</li></ul></li>
                    <li>Desired Return<ul><li>How much return does an investor want to make from an investment</li></ul></li>
                </ul>
            </div>
        </div>
    </div>
</div>