Python==3.9.4
Flask==2.0.1
Werkzeug==2.0.1
@angular-devkit/architect==0.1202.5
@angular-devkit/build-angular==12.2.5
@angular-devkit/core==12.2.5
@angular-devkit/schematics==12.2.5
@schematics/angular==12.2.5
rxjs==6.6.7
typescript==4.3.5
pip==21.1.2