<div class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Project Goals
                </h3>
                <div class="card-body">
                    <p class="card-text">
                        The main goal of StockO is to provide our users with an on-the-go web based application
                        that allows them to view their current holdings in the market, and as well as to provide long term 
                        buying and selling recomendations based off backend business data calculations 
                        culminating in comparing the current stock price versus the intrinsic value
                        of the business. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Future Plans
                </h3>
                <div class="card-body">
                    <p class="card-text">Our future plans include but are not limited to:</p>
                    <ul>
                        <li><p class="card-text">Basic Stock Analysis</p></li>
                        <li><p class="card-text">Stock Evaluation</p></li>
                        <li><p class="card-text">Stock Price Forecaster</p></li>
                        <li><p class="card-text">Personal Positions Portfolio Tracker</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Project Video
                </h3>
                <div class="card-body">
                    <p class="card-text">To be added at a later date</p>

                </div>
            </div>
        </div>
    </div>
</div>