<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Stocko</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="./stocks">Stocks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./positions">Positions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./evaluations">Evaluations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./stockForecaster">Stock Forecaster</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./nlp">NLP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./backTesting">Back Testing</a>
            </li>
        </ul>
        <form class="d-flex" data-np-checked="1">
            <button *ngIf="auth.isAuthenticated$" class="btn btn-secondary my-2 my-sm-0" type="submit">{{name}}</button>
          </form>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
