<div class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card ">
                <h3 class="card-header">
                    Evaluations
                </h3>
                <div class="card-body">
                    <div class="">
                        <label class="form-label">Ticker:</label>
                        <div class="input-group ">
                            <input  [(ngModel)]="ticker" class="form-control" placeholder="Enter ticker here:"type="text">
                            <button (click)="onSearch()" class="btn btn-primary">Search</button>
                        </div>
                        <div class="row">
                            <div class="col">
                                <fieldset>
                                  <label class="form-label " for="readOnlyInput">Ticker:</label>
                                  <input  class="form-control" id="readOnlyInput" type="text" placeholder="Awaiting search" readonly="" data-np-checked="1">
                                </fieldset>
                              </div>
                              <div class="col">
                                <fieldset>
                                  <label class="form-label " for="readOnlyInput">Price:</label>
                                  <input class="form-control" id="readOnlyInput" type="text" placeholder="Awaiting search" readonly="" data-np-checked="1">
                                </fieldset>
                              </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 1</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 2</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 3</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 4</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 5</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 6</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 7</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 8</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 9</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 10</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 11</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 12</div>
                                    <div class="card-body">
                                      <h4 class="card-title"></h4>
                                      <p class="card-text"></p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>