<div class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card ">
                <h3 class="card-header">
                    Evaluations
                </h3>
                <p>{{waitText}}</p>
                <div class="card-body">
                    <div class="">
                        <label class="form-label">Ticker:</label>
                        <div class="input-group ">
                            <input  (keydown.enter)="onSearch()" [(ngModel)]="ticker" class="form-control" placeholder="Enter ticker here:"type="text">
                            <button (click)="onSearch()" class="btn btn-primary">Search</button>
                        </div>
                        <div class="row" hidden>
                          <div class="col">
                              <fieldset>
                                <label class="form-label " for="readOnlyInput">Ticker:</label>
                                <input class="form-control" id="readOnlyInput" type="text" placeholder="Awaiting Search" readonly="" data-np-checked="1">
                              </fieldset>
                            </div>
                            <div class="col">
                              <fieldset>
                                <label class="form-label " for="readOnlyInput">Price:</label>
                                <input class="form-control" id="readOnlyInput" type="text" placeholder="Awaiting search" readonly="" data-np-checked="1">
                              </fieldset>
                            </div>
                      </div>
                        <div *ngIf="historyError == false">
                          <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 1 : PE Ratio</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{peRatio}}</h4>
                                      <p class="card-text">Looking for a PE less than 20</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 2: Profit Margin</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{profitMargin}} %</h4>
                                      <p class="card-text">Want this to be >=10</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 3 : Profit Growth</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{profitGrowth}} %</h4>
                                      <p class="card-text">Want a positive number</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 4 : Revenue Growth</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{revenueGrowth}} $</h4>
                                      <p class="card-text">Want a positive number</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 5 : Current Assests vs Liabilities</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{currentAssetsVsLiabilities}} $</h4>
                                      <p class="card-text">Want a positive number</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 6 : Total Assets vs Liabilities</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{totalAssetsVsLiabilities}} $</h4>
                                      <p class="card-text">Want a positive number</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 7 : Change in Shares Outstanding</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{changeInSharesOutstanding}} %</h4>
                                      <p class="card-text">Want a negative number</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 8 : Free Cash Flow Growth</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{freeCashFlowGrowth}} %</h4>
                                      <p class="card-text">Want a positive number</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 9 : Free Cash Flow Desired Share Price</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{freeCashFlowDesiredSharePrice}} $</h4>
                                      <p class="card-text">This should be greater than the current share price</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 10 : Free Cash Flow Desired Market Cap</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{freeCashFlowDesiredMarketCap}} $</h4>
                                      <p class="card-text">This should be greater than current market cap</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 11 : EV/EBITDA Ratio</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{evEbitdaRatio}}</h4>
                                      <p class="card-text"> This should be less than 10</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card border-primary ">
                                    <div class="card-header">Pillar 12 : Price to Book Ratio</div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{priceToBookRatio}}</h4>
                                      <p class="card-text">This should be less than or equal to 3</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                      
                      
                      </div>
                      <div *ngIf="historyError == true">
                          <p>Our platoform does not support stocks without 5 years of history. </p>
                          <p>If you believe this is a mistake please contact a developer. </p>
                      </div>
                    </div>
                </div>
          </div>
    </div>
</div>