<div class="container" style="padding-top: 2rem;">
  <div class="row justify-content-center">
      <div class="col">
          <div class="card mb-3">
              <h3 class="card-header">
                Deliverables
              </h3>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                      <tr>
                        <th scope="col">File Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Download</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                          <th scope="row">Project Files for 09-19-2021</th>
                          <td>Presentation of Pitch</td>
                          <td><a href="https://alabama.box.com/s/hx9bq836own6yd62ck8n0pyks0hynenq">Download</a></td>
                      </tr>
                      <tr>
                          <th scope="row">Pitch Documents and Presentations</th>
                          <td>Presentation of Pitch</td>
                          <td></td>
                      </tr>
                      <tr>
                          <th scope="row">Project Pitch</th>
                          <td>Presentation of Pitch</td>
                          <td></td>
                      </tr>
                      <tr>
                          <th scope="row">Project Pitch</th>
                          <td>Presentation of Pitch</td>
                          <td></td>
                      </tr>
                    </tbody>
                </table>
              </div>
          </div>
      </div>
  </div>
</div>