<div class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Stocks 
                </h3>
                <div class="card-body">
                    <h2>Coming in a later sprint!</h2>
                </div>
              </div>
              <highcharts-chart
              [Highcharts] = "highcharts" 
              [options] = "chartOptions">
           </highcharts-chart>
        </div>
    </div>
</div>