<div class="container" style="padding-top: 2rem;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mb-3">
                <h3 class="card-header">
                    Stock Information 
                </h3>
                <div class="card-body">
                    <div class="mb-3" id="searchBox"> 
                        <label class="form-label">Ticker Search:</label>
                        <div class="input-group ">
                            <input  (keydown.enter)="onSearch()" [(ngModel)]="ticker" class="form-control" placeholder="Enter ticker here:"type="text">
                        <button (click)="onSearch()" class="btn btn-primary">Search</button>
                    </div>

                    <div *ngIf="searched" id="company_overview" class="card mb-3 mt-3">
                        <h3 class="card-header">{{stockObject.company_overview.name}}; Ticker, {{stockObject.ticker}}</h3>
                        <div class="card-body">
                            <h4 class="card-title">Current Share Price: ${{stockObject.stock_price}}</h4>
                            <h5 class="card-title">Company Description:</h5>
                            <h6 class="card-subtitle text-muted">{{stockObject.company_overview.description}}</h6>
                        </div>
                        <highcharts-chart
                            [Highcharts] = "highcharts" 
                            [options] = "chartOptions">
                        </highcharts-chart>
                        <div class="card-body">
                            <label>Sector:</label>
                            <p class="card-text">{{stockObject.company_overview.sector}}</p>
                            <label>Industry:</label>
                            <p class="card-text">{{stockObject.company_overview.industry}}</p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        200 Day Moving Average
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.v200_day_moving_average}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        50 Day Moving Average
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.v50_day_moving_average}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        52 Week High
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.v52_week_high}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        52 Week Low
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.v52_week_low}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Analyst Target Price
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.analyst_target_price}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Asset Type
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.asset_type}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Beta
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.beta}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Book Value
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.book_value}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        CIK
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.cik}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Diluted Epsttm
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.diluted_epsttm}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Dividend Date
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.dividend_date}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Dividend Per Share
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.dividend_per_share}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Dividend Yield
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.dividend_yield}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Ebitda
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.ebitda}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Eps
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.eps}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Ev To Ebitda
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.ev_to_ebitda}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Ev To Revenue
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.ev_to_revenue}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Ex Dividend Date
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.ex_dividend_date}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Exchange
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.exchange}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Fiscal Year End
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.fiscal_year_end}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Foward Annual Dividend Rate
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.foward_annual_dividend_rate}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Foward Annual Dividend Yield
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.foward_annual_dividend_yield}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Foward Pe
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.foward_pe}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Fross Profit ttm
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.gross_profit_ttm}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Last Split Date
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.last_split_date}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Last Split Factor
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.last_split_factor}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Latest Quarter
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.latest_quarter}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Market Cap
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.market_cap}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Eperating Margin ttm
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.operating_margin_ttm}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Payout Ratio
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.payout_ratio}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        PE Ratio
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.pe_ratio}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        PEG Ratio
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.peg_ratio}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Percent Insiders
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.percent_insiders}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Percent Institutions
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.percent_institutions}}</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Price To Book Ratio
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.price_to_book_ratio}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Price to Sales Ratio ttm
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.price_to_sales_ratio_ttm}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Profit Margin
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.profit_margin}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Quarterly Earnings Growth yoy
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.quarterly_earnings_growth_yoy}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Quarterly Revenue Growth yoy
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.quarterly_revenue_growth_yoy}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Return on Assets TTM
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.return_on_assets_ttm}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Return on Equity TTM
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.return_on_equity_ttm}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Revenue per Share TTM
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.revenue_per_share_ttm}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Revenue TTM
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.revenue_ttm}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Shares Float
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.shares_float}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Shares Outstanding
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.shares_outstanding}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Shares Short
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.shares_short}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Shares Shot Prior Month
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.shares_shot_prior_month}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Short Percent Float
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.short_percent_float}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Short Precent Outstanding
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.short_precent_outstanding}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Short Ratio
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.short_ratio}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Trailing PE
                                        <span class="badge bg-primary rounded-pill">{{stockObject.company_overview.trailing_pe}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mt-3 card-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <button class="nav-link" (click)="openBalanceSheet()" ><h2>Balance Sheet</h2></button>
                                </li>
                                <li class="nav-item">
                                    <button  class="nav-link" (click)="openCashFlow()" ><h2>Cash Flow</h2></button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" (click)="openIncomeStatement()"><h2>Income Statement</h2></button>
                                </li>
                            </ul>
                            <div *ngIf="balanceSheetOpen" class="mt-3 col justify-content-center">
                                <h2>Balance Sheet</h2>
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Type</th>
                                        <th *ngFor="let item of stockObject.balance_sheet_dict.fiscalDateEnding.reverse()" scope="col">{{item}}</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">accumulatedDepreciationAmortizationPPE</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.accumulatedDepreciationAmortizationPPE.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">capitalLeaseObligations</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.capitalLeaseObligations.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">cashAndCashEquivalentsAtCarryingValue</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.cashAndCashEquivalentsAtCarryingValue.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">cashAndShortTermInvestments</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.cashAndShortTermInvestments.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">commonStock</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.commonStock.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">commonStockSharesOutstanding</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.commonStockSharesOutstanding.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">currentAccountsPayable</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.currentAccountsPayable.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">currentDebt</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.currentDebt.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">currentLongTermDebt</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.currentLongTermDebt.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">currentNetReceivables</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.currentNetReceivables.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">deferredRevenue</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.deferredRevenue.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">goodwill</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.goodwill.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">intangibleAssets</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.intangibleAssets.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">intangibleAssetsExcludingGoodwill</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.intangibleAssetsExcludingGoodwill.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">inventory</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.inventory.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">investments</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.investments.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">longTermDebt</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.longTermDebt.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">longTermDebtNoncurrent</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.longTermDebtNoncurrent.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">longTermInvestments</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.longTermInvestments.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">otherCurrentAssets</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.otherCurrentAssets.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">otherCurrentLiabilities</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.otherCurrentLiabilities.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">otherNonCurrentLiabilities</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.otherNonCurrentLiabilities.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">otherNonCurrrentAssets</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.otherNonCurrrentAssets.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">propertyPlantEquipment</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.propertyPlantEquipment.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">reportedCurrency</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.reportedCurrency.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">retainedEarnings</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.retainedEarnings.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">shortLongTermDebtTotal</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.shortLongTermDebtTotal.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">shortTermDebt</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.shortTermDebt.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">shortTermInvestments</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.shortTermInvestments.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">totalAssets</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.totalAssets.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">totalCurrentAssets</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.totalCurrentAssets.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">totalCurrentLiabilities</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.totalCurrentLiabilities.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">totalLiabilities</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.totalLiabilities.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">totalNonCurrentAssets</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.totalNonCurrentAssets.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">totalNonCurrentLiabilities</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.totalNonCurrentLiabilities.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">totalShareholderEquity</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.totalShareholderEquity.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">treasuryStock</th>
                                            <td *ngFor="let item of stockObject.balance_sheet_dict.treasuryStock.reverse()">{{item}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="cashFlowOpen" class="mt-3 row justify-content-center">
                                <h2>Cash Flow</h2>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Type</th>
                                            <th *ngFor="let item of stockObject.cash_flow_dict.fiscalDateEnding.reverse()" scope="col">{{item}}</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">capitalExpenditures</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.capitalExpenditures.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">cashflowFromFinancing</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.cashflowFromFinancing.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">cashflowFromInvestment</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.cashflowFromInvestment.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">changeInCashAndCashEquivalents</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.changeInCashAndCashEquivalents.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">changeInExchangeRate</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.changeInExchangeRate.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">changeInInventory</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.changeInInventory.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">changeInOperatingAssets</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.changeInOperatingAssets.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">changeInOperatingLiabilities</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.changeInOperatingLiabilities.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">changeInReceivables</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.changeInReceivables.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">depreciationDepletionAndAmortization</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.depreciationDepletionAndAmortization.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">dividendPayout</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.dividendPayout.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">dividendPayoutCommonStock</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.dividendPayoutCommonStock.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">dividendPayoutPreferredStock</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.dividendPayoutPreferredStock.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">fiscalDateEnding</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.fiscalDateEnding.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">netIncome</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.netIncome.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">operatingCashflow</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.operatingCashflow.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">paymentsForOperatingActivities</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.paymentsForOperatingActivities.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">paymentsForRepurchaseOfCommonStock</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.paymentsForRepurchaseOfCommonStock.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">paymentsForRepurchaseOfEquity</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.paymentsForRepurchaseOfEquity.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">paymentsForRepurchaseOfPreferredStock</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.paymentsForRepurchaseOfPreferredStock.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">proceedsFromIssuanceOfCommonStock</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.proceedsFromIssuanceOfCommonStock.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">proceedsFromIssuanceOfPreferredStock</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.proceedsFromIssuanceOfPreferredStock.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">proceedsFromOperatingActivities</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.proceedsFromOperatingActivities.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">proceedsFromRepaymentsOfShortTermDebt</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.proceedsFromRepaymentsOfShortTermDebt.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">proceedsFromRepurchaseOfEquity</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.proceedsFromRepurchaseOfEquity.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">proceedsFromSaleOfTreasuryStock</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.proceedsFromSaleOfTreasuryStock.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">profitLoss</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.profitLoss.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">reportedCurrency</th>
                                            <td *ngFor="let item of stockObject.cash_flow_dict.reportedCurrency.reverse()">{{item}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="incomeStatementOpen" class="mt-3 row justify-content-center">
                                <h2>Income Statement</h2>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Type</th>
                                            <th *ngFor="let item of stockObject.income_statement_dict.fiscalDateEnding.reverse()" scope="col">{{item}}</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">comprehensiveIncomeNetOfTax</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.comprehensiveIncomeNetOfTax.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">costOfRevenue</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.costOfRevenue.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">costofGoodsAndServicesSold</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.costofGoodsAndServicesSold.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">depreciation</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.depreciation.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">depreciationAndAmortization</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.depreciationAndAmortization.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">ebit</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.ebit.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">ebitda</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.ebitda.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">grossProfit</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.grossProfit.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">incomeBeforeTax</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.incomeBeforeTax.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">incomeTaxExpense</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.incomeTaxExpense.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">interestAndDebtExpense</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.interestAndDebtExpense.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">interestExpense</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.interestExpense.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">interestIncome</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.interestIncome.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">investmentIncomeNet</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.investmentIncomeNet.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">netIncome</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.netIncome.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">netIncomeFromContinuingOperations</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.netIncomeFromContinuingOperations.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">netInterestIncome</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.netInterestIncome.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">nonInterestIncome</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.nonInterestIncome.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">operatingExpenses</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.operatingExpenses.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">operatingIncome</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.operatingIncome.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">otherNonOperatingIncome</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.otherNonOperatingIncome.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">reportedCurrency</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.reportedCurrency.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">researchAndDevelopment</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.researchAndDevelopment.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">sellingGeneralAndAdministrative</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.sellingGeneralAndAdministrative.reverse()">{{item}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">totalRevenue</th>
                                            <td *ngFor="let item of stockObject.income_statement_dict.totalRevenue.reverse()">{{item}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Address: {{stockObject.company_overview.address}}
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>