<div style="text-align: center; padding-top: 5%;" class="container" >
    <div class="row">
        <h1>Welcome to Stocko!</h1>
        <div class="col">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-primary btn-dark" 
                        type="button"
                        routerLink="/app">App</button>
            </div>
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-primary btn-dark" 
                        type="button"
                        routerLink="/wiki/about">Wiki</button>
            </div>
        </div>
    </div>
</div>